*{
    text-decoration: none;
}


.wrap{
    margin: 0 auto;
    width : 60%;
}

header{
    background-color: #242424;
    float: left;
    width: 100%;
}

.titre{
    font-family: 'open_sansregular';
    float      : left;
    color      : #57c5a0;
    font-size  : 1.5em;
    line-height: 50px;
}

.titre:hover{
    
}

.titre a{
    color: #57c5a0;
}


.search, .register{
    float: right;
}

.search{
    margin: 15px 20px 0 0;
}

.register{
    border-left : 1px solid rgba(126,126,126,0.5);
    border-right: 1px solid rgba(126,126,126,0.5);
    height      :50px;
    font-family : 'open_sansregular';
    color       : #7e7e7e;
    font-size   : 0.7em;

}

.register__login{
    margin: 20px 10px;
}

.register a{
    color: #7e7e7e;
}
.register a:hover{
    color: #57c5a0;
}


header::after{
    content:"";
}


/****************** FIN DU HEADER ***************************/
nav{
    display: inline-block;
}

nav ul{
 width: 100%;
 font-family: 'open_sanssemibold';
 font-size: 1em;
}

nav .starbasket{
    font-family:'open_sansregular';
    font-size: 0.8em;
}


nav ul li {
    display: inline-block;
    border-left: 1px solid rgba(126,126,126,0.5);
    height: 60px;
}

nav ul a:hover {
    color: #57c5a0;
}

nav ul li:nth-child(6){
    border-right: 1px solid rgba(126,126,126,0.5);
}
.margin{
    margin: 0 20px;
}
nav ul li a{
    color: #242424;
    line-height: 60px;
}




.basket{
    float: right;
    border-right: 1px solid rgba(126,126,126,0.5);
    height: 60px;
    width: 90px;
    
}

.star{
    float: right;
    border-right: 1px solid rgba(126,126,126,0.5);
    border-left: 1px solid rgba(126,126,126,0.5);
    height: 60px;
    width: 90px;
}


.align{
    width: 50px;
    margin: 20px auto;
}




.nbr-star{
    font-family: 'open_sansregular';
    font-size: 0.8em;
    float: right;
    background-color: #adadad;
    color: #FFF;
    padding: 4px;
    border-radius: 4px;
    text-align: center;

}

.nbr-basket{
    font-family: 'open_sansregular';
    font-size: 0.8em;
    float: right;
    background-color: #57c5a0;
    color: #FFF;
    padding: 4px;
    border-radius: 4px;
    text-align: center;

}

.fa{
    font-size: 1.2em;
    color: #adadad;   
}

.fa:hover{
    color: #57c5a0;
}


/************************ FIN DU MENU *********************/

.slider{
    font-family: 'open_sansregular';
    background-color: #efece9;
    overflow: auto;
}

.banner{
    float: left;

}
.info-banner{
    padding: 70px 0 0 50px;
}

.price-banner{
   

}

.prix{
    display: inline-block;
    font-size: 0.8em;
    color: #FFF;
    padding: 25px 10px;
}

.black{
    background-color: #000;
}

.green{
    background-color: #57c5a0;
}


h2{
    font-family: 'open_sansregular';
    font-size: 2em;
    margin: 10px 0;
}

.text-banner p{
    line-height: 20px;
    font-size: 1.1em;
    text-align: left;
}

.container{
    display: inline-block;
    margin-top: 30px;
}
.container li{
    display: inline-block;
    background-color: #FFF;
    padding: 10px;
}

.container a:hover *{
    color: #57c5a0;
}

/*********************** FIN DU SLIDER ***********************/



.brand{
    background-color: #2e2e2e;
}

.nav-slider{
    display: inline-block;

}

.nav-slider ul li{
    display: inline-block;
}
















/* .bulle4{
    position: relative;
    margin-top: -20%;
    padding: 5% 0;
    text-align: center;
    color: #FFF;
    font-family:Pathway Gothic one, sans-serif;
    font-size: 110%;
    z-index: 1555;
    width:0%;
    overflow:hidden;
    -webkit-transition: width 0.5s ease-in-out;
    -moz-transition: width 0.5s ease-in-out;
    -o-transition: width 0.5s ease-in-out;
    transition: width 0.5s ease-in-out;

} */