*{
    text-decoration: none;
}


.wrap{
    margin: 0 auto;
    width : 60%;
}

header{
    background-color: #242424;
    float: left;
    width: 100%;
}

.titre{
    font-family: 'open_sansregular';
    float      : left;
    color      : #57c5a0;
    font-size  : 1.5em;
    margin     : 10px 0;
}

.titre a{
    color: #57c5a0;
}


.search, .register{
    float: right;
}

.search{
    margin: 15px 20px 0 0;
}

.register{
    border-left : 1px solid #7e7e7e;
    border-right: 1px solid #7e7e7e;
    height      :50px;
    font-family : 'open_sansregular';
    color       : #7e7e7e;
    font-size   : 0.7em;

}

.register__login{
    margin: 20px 10px;
}

.register a{
    color: #7e7e7e;
}
.register a:hover{
    color: #57c5a0;
}


header::after{
    content:"";
}


/****************** FIN DU HEADER ***************************/


nav{
 width: 100%;
 font-family: 'open_sanssemibold';
 font-size: 0.8em;
}

nav::after{
    content: "";
}

nav ul{
    float: left;
}

nav ul li {
    float: left;
    border-left: 1px solid #7e7e7e;
    height: 50px;
}

nav ul li:last-child{
    border-right: 1px solid #7e7e7e;
}

.margin{
    margin:20px;
}

nav ul li a{
    color: #242424;
}

.starbasket{
    float: right;
    font-family: 'open_sansregular';
}


.star{
    float: left;
    border-left: 1px solid #7e7e7e;
    border-right: 1px solid #7e7e7e;
    width: 75px;
}

.basket{
    float: left;
    border-right: 1px solid #7e7e7e;
    width: 75px;
}


























/* .bulle4{
    position: relative;
    margin-top: -20%;
    padding: 5% 0;
    text-align: center;
    color: #FFF;
    font-family:Pathway Gothic one, sans-serif;
    font-size: 110%;
    z-index: 1555;
    width:0%;
    overflow:hidden;
    -webkit-transition: width 0.5s ease-in-out;
    -moz-transition: width 0.5s ease-in-out;
    -o-transition: width 0.5s ease-in-out;
    transition: width 0.5s ease-in-out;

} */